body {
  font-family: Arial;
  background-color: #cfeaf5;
}

.main-layout {
  display: flex;
  gap: 20px;
}

.form-section, .review-section {
  background-color: red;
  color: white;
  padding: 20px;
  width: 50%;
}

label {
  display: inline-block;
  width: 120px;
}

#reviewTable {
  background: white;
  color: black;
  width: 100%;
}
